
            h1 {

                color : red;

            }

            img {
                width: 400px;
            }

            #thirdDiv{
                background-color: green;
                height: 500px;
                border: 15px solid blue;
                width: 600;
                padding: 50px;
            }

            #spanId {
                font-size: 28px;
                margin: 50px;

            }